$colorBlack:black;
$colorWhite:white;



$couleurHautDePage: #00c1db;
$couleur-eclairecie: darken($couleurHautDePage, 80%);

$couleurPiedDePage: #008da0;
$couleur-assombrie: lighten($couleurPiedDePage, 10%);
